@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutNonUser.cshtml";
}
<head>

    <link rel="stylesheet" media="screen" href="~/css/Homepagina.css" />
</head>
<body>
    <div class="row">
        <div class="col-6">
            <h1>Zena trauma- en paardencoaching</h1>
            <p>
                Om jezelf weer terug te vinden wie je ooit was en feitelijk nog altijd bent
            </p>
        </div>
    </div>
    <!-- ----------Home------ -->
    <section class="Home-section">
        <div class="container">
            <div class="heading white-heading">
                <span>Ik help je bevriend te worden met de klappen die je hebt gekregen in het leven, om er sterker uit te komen en weer echt te leven!</span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="Home-block">
                        <div class="inner-box">
                            <div class="lower-content">
                                <h3>Trauma coaching</h3>
                                <div class="text">Bij trauma’s denkt men vaak aan een heftig auto ongeluk, brand, oorlog en natuurgeweld. Trauma is echter veel meer, het kan bestaan uit één of meerdere heftige gebeurtenissen die een traumatische ervaring oproepen. Vaak is er nog onbegrip in de samenleving en zegt men “Niet klagen, maar dragen” of “ieder huisje heeft wel een kruisje, geef het een plekje en ga door met je leven”. Hoe vaak heb jij door deze opmerkingen al niet gedacht, ‘zal er maar niet weer over beginnen’, houdt jij je tranen in en zet een pokerface op.  Zo gemakkelijk werkt het echter niet en je komt je dan ook meerdere malen tegen in diverse situaties zowel privé als op het werk. Wanneer jij dit wilt aanpakken en veranderen, weer wilt gaan leren leven, dan is er héél veel mogelijk. Ondanks je opgelopen trauma, welke je dan kan gaan inzetten als je kracht. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="Home-block">
                        <div class="inner-box">
                            <div class="lower-content">
                                <h3>Verlies & Rouw</h3>
                                <div class="text">Eén ding is zeker…., we worden allemaal een keer geconfronteerd met het verlies van iemand of iets in ons leven. Bij verlies en rouw denkt men vaak aan het verlies van iemand aan de dood. Bij alle soorten verlies geldt dat er iets sterft binnen in je en je hebt arbeid te verrichten, de rouwtaken. Deze rouwtaken is iets wat samen met anderen dient te gebeuren, je kan dit niet alleen en ik ben hier om jou daarbij te helpen en te begeleiden. Vanuit kennis, kunde en eigen ervaringen. </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="Home-block">
                        <div class="inner-box">
                            <div class="lower-content">
                                <h3>Paardencoaching</h3>
                                <div class="text">
                                    Paardencoaching is voor iedereen bedoeld die tegen bepaalde belemmeringen/ blokkades aanloopt, een bepaald vraagstuk heeft of telkens met eenzelfde thema geconfronteerd wordt in het leven. De paarden zijn essentieel in jouw persoonlijke ontwikkeling, zij luisteren namelijk niet naar jouw pogingen om gevoelens en emoties te verbergen of af te zwakken. De paarden reageren altijd op jouw energie die je bij je draagt en wat op dat moment het hoogste spanningsniveau met zich meedraagt.

                                    Binnen een fractie van tijd heeft het paard jou gescreend en zal het paard jou gaan spiegelen, helpen of steunen. De paarden leggen direct de vinger op de zere plek bij jou. Zij, met de doorvertaling van het paardengedrag door mij, laten jou zien waar een blokkade bij jou zit, dit is vaak in de diepere (onbewuste) laag. Dit kan confronterend en zeker ook verhelderend werken voor jou, waarmee jouw bewustwording- en ontwikkelingsproces in een versnelling raakt en je de antwoorden in jezelf vindt op je vraagstukken.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="Home-block">
                        <div class="inner-box">
                            <div class="lower-content">
                                <h3>Wie ben ik……</h3>
                                <div class="text">
                                    Achter Zena Trauma- & Paardencoaching zit Marieke Blankers-van Loon. Getrouwd, geen kinderen wel héél veel dieren om de onvoorwaardelijke liefde te ervaren en te compenseren die ik in mijn jeugd zo heb gemist.

                                    Ervaringsexpert op het gebied van trauma’s, mijn leven heeft vanaf mijn 3e levensjaar tot en met mijn 40ste levensjaar in teken gestaan van diverse trauma’s (o.a. narcisme, misbruik, stalking, inbraak, verlies van een dierbare als een levend verlies). Maar nu niet meer! Nu ben ik echt aan het leven en aan het genieten van het leven. En ik gun jou ook die ervaring! Vandaar dat ik mijn levenservaring op gebied van trauma heb omgezet in een kracht en samen met mijn jarenlange werkervaring waarin coaching een belangrijk onderdeel vormde én de opgedane kennis vanuit relevante (trauma) opleidingen maakt dat ik klaar sta als trauma coach én paardencoach om jou te helpen en te begeleiden.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ----------Home-close------ -->
</body>
   