@model ReferentieViewModel
@{ ViewData["Title"] = "Referentie";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="wrapper">
    <div class="registration_form">
        <div class="title">
            Referentie Toevoegen
        </div>

        <form action="ReferentieToevoegenClick" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form_wrap">
                <div class="input_wrap">
                    <label asp-for="ReferentieCijfer"></label>
                    <input asp-for="ReferentieCijfer" class="form-control" />
                    <span asp-validation-for="ReferentieCijfer" class="text-danger"></span>
                </div>
                <div class="input_wrap">
                    <label asp-for="ReferentieTekst"></label>
                    <input asp-for="ReferentieTekst" class="form-control" />
                    <span asp-validation-for="ReferentieTekst" class="text-danger"></span>
                </div>
                <div class="input_wrap">
                    <button type="submit" class="submit_btn">Voeg Referentie Toe</button>
                </div>
            </div>
        </form>
    </div>
</div>