@model ZenaTraumacoaching.Models.LoginViewModel
@{ ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutNonUser.cshtml"; }
<head>
    <link rel="stylesheet" media="screen" href="~/css/LoginPagina.css" />
</head>
<div class="wrapper">
    <div class="registration_form">
        <div class="title">
            Login
        </div>

        <form action="LoginClick" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form_wrap">
                <div class="input_wrap">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="input_wrap">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input_wrap">
                    <button type="submit" onclick="CheckNullOrEmpty()" class="submit_btn">Log in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function CheckNullOrEmpty() {
        var usernameText = document.getElementById("Username").value;
        var wachtwoordText = document.getElementById("Password").value;
        var usernameLength = usernameText.length;
        var wachtwoordLength = wachtwoordText.length;
        if (usernameLength == 0 || wachtwoordLength == 0) {
            alert("Wachtwoord en Gebruikersnaam moeten ingevuld worden!");
        }
    }
</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
