@model ZenaTraumacoaching.Models.ProfileViewModel

@{ ViewData["Title"] = "Profiel";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Accountgegevens</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr>
            <td>Naam</td>
            <td class="text-left">@Model.Firstname @Model.Lastname</td>
        </tr>
        <tr>
            <td>Email</td>
            <td class="text-left">@Model.Email</td>
        </tr>
        <tr>
            <td>Geslacht</td>
            <td class="text-left">@Model.Gender</td>
        </tr>
    </tbody>
</table>

